.LoginWithSocialContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    user-select: none;
    text-align: center;

    color: white;
}

.LoginHeader {
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0 0 2px white;
    margin-bottom: 1rem;
}

.socialLoginButton {
    display: inline-block;
    width: 4em;
    height: 2em;
    border-radius: 1em;

    background-color: #2196F3;

    cursor: pointer;
}

.socialIcon {
    height: 100%;
}
