.ActionButton {
    display: inline-block;

    height: 2rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
    background-color: #2196F3;
    padding: 0.6rem 4rem;

    border-radius: 0.7rem;

    transition: background-color 200ms ease-in;
}

.ActionButton:hover {
    background-color: #1E88E5;
}

.ActionButton svg {
    vertical-align: middle;
    margin-right: 1rem;
}

.ActionButton span {
    vertical-align: middle;
}