.Header {
    height: 5rem;
    background-color: #2196F3;
}

.HeaderElement {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 25%;
    line-height: 5rem;
    text-align: center;
    cursor: pointer;

    user-select: none;
}

.HeaderElement:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    transform: translateX(-50%);
    background-color: #f9f9f9;

    transition: width 200ms ease-in-out;
}

.HeaderElement span {
    vertical-align: middle;
}

.HeaderElement.SelectedElement:after {
    width: 100%;
}

.headerIcon {
    height: 2em;
    vertical-align: middle;
    margin-right: 1em;
}