.Home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ContentContainer {
    position: relative;
    height: calc(100% - 5rem);
}

.contentContainerComponent {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateX(0%);
    opacity: 1;
    background-color: #f9f9f9;
    transition: transform 300ms ease-in, opacity 300ms ease-in;
}

.contentContainerComponent.hidden {
    opacity: 0;
    transform: translateX(-100%);
}